body {
  background: #F0F1E3;
  color: white;
  font-family: helvetica neue;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  color:black;
  font-weight: 200;
}
h4 {
  color: black;
  font-weight: 400;
}

.predicted-theme {
  background: black;
  border:  1px solid white;
  border-radius:  20px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 360px;
}

.editor-wrapper {
  background: #47857A;
  display: inline-block;
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Inconsolata", 'Courier New', monospace;
  font-size: 10pt;
  font-weight: normal;
  padding: 8px;
  text-align: left;
  width: 300px;
}
.star {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 18pt;
  margin: 0;
  outline: none;
  padding: 0;
}
.star.gold {
  color: goldenrod;
}
li {
  color: red;
  list-style-type: none;
  font-size: 10pt;
  font-weight: 400;
}
